<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ko_KR</string>
    <key>CFBundleExecutable</key>
    <string>WinDock</string>
    <key>CFBundleIconFile</key>
    <string>WinDock</string>
    <key>CFBundleIdentifier</key>
    <string>kr.l2mgroup.WinDock</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>WinDock</string>
    <key>CFBundleDisplayName</key>
    <string>WinDock</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>WinDock이 다른 앱을 자동으로 숨기려면 권한이 필요합니다.</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 L2M Group Ltd.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSSupportsAutomaticTermination</key>
    <false/>
    <key>NSSupportsSuddenTermination</key>
    <true/>
</dict>
</plist>
